@import "/src/color/color.scss";

.ticket {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px 20px;
  margin: 0 auto;
  background: $color-white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__price {
    display: flex;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: $color-blue;
  }
  &__logo {
    display: flex;
    width: 110px;
    height: 36px;
  }
}
.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  &__element {
    display: flex;
    flex-direction: column;
  }
  &__span-header {
    display: flex;
    font-weight: 600;
    width: 110px;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color-gray;
  }
  &__span-description {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: $color-black-tin;
  }
}