$color-black-tin: #4A4A4A;
$color-blue: #2196F3;
$color-light-blue: #F1FCFF;
$color-white: #FFFFFF;
$color-button-border: #DFE5EC;
$color-blue-background: #E5E5E5;
$color-border-checkbox: #9ABBCE;
$color-gray : #A0B0B9;