@import "./src/color/color.scss";



.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-basis: 100%;
  min-width: 320px;
  background: $color-blue-background;
  height: 100%;
  &__logo {
    display: flex;
    margin: 30px auto;
    width: 60px;
    height: 60px;
    @media(min-width: 768px) {
      margin: 50px auto 50px 45%;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  @media (min-width: 768px) {
    margin-top: 0 ;
    margin-right: auto;
  }
}